body {background-color: rgb(49, 49, 49); outline-width: 12px; outline-color: aqua; width: 1024px; margin: auto; padding-top: 0px;} 
.headertools {
    display: inline;
    color: khaki;
    font-family: sans-serif;
}
.buttondocs {
    font-family: sans-serif;
    font-size: 18px;
    display: inline;
    background-color: rgba(0, 0, 0, 0);
    color: khaki;
    margin: auto;
    border: 0px;
    opacity: 1;
}
.pr1 {
    color: aliceblue;
    font-family: sans-serif;
}
.codeblock {
    font-family: monospace;
    background-color: rgb(62, 62, 62);
    color: rgb(233, 233, 233);
    border-radius: 5px;
    font-size: 12;
    padding: 0.3%;
}
.quote {
    color: aliceblue;
    font-family: sans-serif;
    border-left: 4px solid khaki;
    padding-left: 6px;
    border-radius: 2px;
}
.onpage {
    color: salmon;
    font-family: sans-serif;
    font-size: 18px;
    display: inline;
    background-color: rgba(0, 0, 0, 0);
    margin: auto;
    border: 0px;
    opacity: 1;
}